[2015-03-02 12:45] voz opened #1 "What is the vision of this plugin?"
Hey, I would like to input my mongodb data into elasticsearch via logstash. So I've searched for a logstash input plugin and this repo popped up.

@phutchins What is your vision for this plugin?

[2015-03-02 13:05] phutchins commented on #1
Hey, thats great. We have the same goal. I actually just started development on this plugin last week. I finished the first round Friday and am working on testing it now. I have a few other plans for features for the plugin so that it can be used by anyone that needs it so your help and input would be greatly appreciated!

@voz, currently we store our logs in capped collections in MongoDB. Each co

[2015-03-05 14:01] Analect commented on #1
@phutchins
As with @voz , I just happened upon this repo.
I would like to be able to leverage the bulk api in order to be able to set up parent-child relationships. So a collection may contain many fields, one of which could be used as a parent_id, with other fields fed to child document ... or perhaps the parent_id comes from another collection, where there is a common field between the collectio

[2015-03-13 17:50] phutchins commented on #1
@Analect and @voz, take a look at what I have so far. This mostly fits my needs without being too specific. It seems like what you're wanting to do is a little different from my needs but I'd be glad to add functionality for your needs as well.

Currently you feed this plugin a collection or part of a collection name and it will parse any collections that match that name. It will process batches o

[2015-03-16 23:12] Analect commented on #1
@phutchins
Thanks for this. I'd like to test this. As yet, I don't think you have moved it to https://github.com/logstash-plugins, so a basic bin/plugin install logstash-input-mongodb isn't going to work.
I think the README is boilerplate for any new plugin ... could you give some quick guidance in terms of building the relevant gem file, which I can then point to for installing? I haven't install

[2015-03-17 13:47] phutchins commented on #1
@Analect I'm actually in the process of getting it accepted into the logstash-plugins repo. You can see the issue I opened to do that here: https://github.com/elastic/logstash/issues/2836

I do still need to write tests for it and update the readme with all of the available options and an example config file as you mentioned.

Regarding requirements for mongodb, this should work with any configura

[2015-03-17 15:52] Analect commented on #1
@phutchins
Thanks for the info.

Ref installing your plugin, I did the following, while the plugin remains external to the main logstash-plugins repo.

1. I cloned your repo and ran: gem build logstash-input-mongodb.gemspec
2. This generated a RubyGem, but with various warnings.
Successfully built RubyGem
  Name: logstash-input-mongodb
  Version: 0.1.0
  File: logstash-input-mongodb-0.1.0.gem
3. I

[2015-03-17 23:07] electrical commented on #1
Hi guys,

with LS 1.5.0.RC2 the gem file installation is not functional.
That said the author can always publish the gem to rubygems and you can install it via the bin/plugin command.
Its fully separate of the logstash-plugins repo.
The plugins won't work with LS 1.4.x since the plugin management is made for 1.5 and higher.

[2015-03-17 23:47] Analect commented on #1
Thanks for the info @electrical

[2015-03-18 12:59] phutchins commented on #1
@electrical is exactly right. I will make a few changes to the plugin, publish the gem to rubygems and let you know when it's up.

[2015-03-18 13:21] Analect commented on #1
@phutchins . Great. thanks.
If you could have a glimpse over my use-case and see if that tallies at all with how you envisage extending the functionality.
Ref you logstash.conf sample above:
Is your collection called 'my-prod-log' or is the location of a mongodb log file? ... and is the logstash_sqlite.db used to buffer the items/events coming from mongodb?
Your output in this case is to redis ..

[2015-03-18 14:01] phutchins commented on #1
The gem has been published here: https://rubygems.org/gems/logstash-input-mongodb

@Analect re your use case, it looks like you're trying to pull attachments from mongo into ES as type attachment and pull an ID from mongo that would be used in ES as a parent ID. If you could outline (in JSON or similar) how the doc(s) in mongo would look, then how you desire it to look in ES after it is processed,

[2015-03-19 17:48] Analect commented on #1
@phutchins
Thanks for your efforts on this.
I'm hoping the image below (which I think you can enlarge) might help to better articulate things. I've mocked up the data ... and not everything in mongodb (in yellow on left) ends up in ES (in green on right).
The basic structure is that a note (Notes collection) can have multiple attachments (Attachments) and each attachment has a single file (fs.file

[2015-03-24 22:48] Analect commented on #1
@phutchins
Did I overwhelm you with the last comment!
Perhaps I need to back-track a bit and fit my needs around what you think is feasible to deliver in terms of what you were originally envisaging.

[2015-03-24 22:52] phutchins commented on #1
Hey @analect, no not at all. :) just been super busy and haven't had a chance to take a deeper look. What you're doing sounds like a great application of this plug in and I'd like to implement it. We have to think of the best way to do this such that others can use it easily also...

[2015-03-25 06:58] Analect commented on #1
Understood. Just let me know if I can be of further help.

[2015-04-10 17:05] phutchins commented on #1
Still have not forgotten about this! I took a brief look and it looks like there should be no problem doing this.

How do you imagine that you would describe this in the configuration?

I think we should be able to do something like this...

input {
  mongodb {
    uri => 'mongodb://10.0.0.30/my-logs?ssl=true'
    path => '/opt/logstash-mongodb/logstash_sqlite.db'
    collection => 'Notes'
    unp

[2015-04-10 18:44] Analect commented on #1
@phutchins
Thanks for the update.
My approach, in terms of emphasising the parent, I suppose is based on the requirement to specify a 'parent id' as a child document is being indexed ... as per the bulk API etc.. such that the parent and child docs end up on the same shard (http://www.elastic.co/guide/en/elasticsearch/guide/current/indexing-parent-child.html). I'm guessing that your implementation

[2015-04-24 08:10] Analect commented on #1
@phutchins
Can I be of further help here?

[2015-04-24 20:40] phutchins commented on #1
Hey @Analect, yeah if you could lay out what you would imagine the config would look for your situation it might help to expose the functionality that is needed.

Do you have any development experience? If so maybe you could fork my repo, take a stab at it and create a merge request. If not no worries, I'd be glad to continue working with you to try to get it working in a way that covers your situ

[2015-08-02 08:56] pnigos opened #5 "error raised when installing on logstash 1.5.3"
when i enter "./plugin install logstash-input-mongodb" , error below raised:
Plugin version conflict, aborting
ERROR: Installation Aborted, message: Bundler could not find compatible versions for gem "logstash":
  In Gemfile:
    logstash-input-mongodb (>= 0) java depends on
      logstash (< 2.0.0, >= 1.4.0) java
Could not find gem 'logstash (< 2.0.0, >= 1.4.0) java', which is required by gem 'lo

[2015-08-05 17:34] phutchins commented on #5
I'm working on fixing these issues also. There is also an SSL issue in 1.5.3 which should be fixed in the upcoming 1.5.4 so I'll wait for that to push out a fix.

[2015-08-06 01:16] pnigos commented on #5
Thx!

[2015-08-11 10:00] Tharves commented on #5
Please let me know, have you fixed this issue.

Could not find gem 'logstash (< 2.0.0, >= 1.4.0) java', which is required by gem 'logstash-input-mongodb (>= 0) java', in any of the sources.

How do we resolve, Couple of weeks breaking my head, I can't step out. Please help me.

[2015-08-11 13:31] phutchins commented on #5
Working on this now. I manually patched logstash for the ssl issue so I should be able to get a fix for this out shortly.

[2015-08-11 15:19] phutchins commented on #5
@Tharves & @pnigos, I've made the changes, have successfully built the 0.1.3 gem and installed with ./bin/plugin install. Could you give it a shot again and let me know if it works for you?

[2015-08-11 15:23] phutchins commented on #1
Hey @Analect I've actually got time to work on this again and have made some changes for the newer versions of logstash.

If you're still interested, a mocked up config describing what you'd expect would be really helpful. That along with the sample DB images that you provided and a desired output.

Do you do any coding by chance? Always happy to accept pull requests if you want to get your hands

[2015-08-12 06:43] Tharves commented on #5
Thanks for your quick reply Phutchins, whereas I need small info for (path => '/opt/logstash-mongodb/logstash_sqlite.db'), Please let me know, what is .db file, which is any dependency for mongodb. please can you share sample .db file

[2015-08-12 07:01] Vinoth28 opened #6 "No connection string specified Error"
The error i get is-
![untitled](https://cloud.githubusercontent.com/assets/13480367/9218201/e7a6cdd4-40ed-11e5-9a5e-ffb2cc063730.png)

My config file is
![untitled1](https://cloud.githubusercontent.com/assets/13480367/9218205/f68953f8-40ed-11e5-94ba-289bf5ea0f9f.png)

and what does the PATH specify in conf file. can you please explain it.

[2015-08-12 12:52] deepvoice opened #7 "Work around for error raised when installing?"
(EDIT) Error has changed after mucking with it - first issue was my fault.

\# bin/plugin install logstash-input-mongodb
LoadError: no such file to load -- file-dependencies/gem
  require at org/jruby/RubyKernel.java:1072
  require at /local/logstash-1.5.3/vendor/jruby/lib/ruby/shared/rubygems/core_ext/kernel_require.rb:54
   (root) at /local/logstash/lib/pluginmanager/install.rb:4
  require at or

[2015-08-13 19:10] exprnet commented on #5
i am still having this issue with the most recent logstash (1.5.3.)  could not find gem << 2.0.0 >= 1.4.0> java.

[2015-08-13 22:24] phutchins commented on #7
Hey @deepvoice did you run the bootstrap command to bootstrap logstash?

[code]

Make sure you've carried out all of the steps listed on the logstash github page for installing a plugin via this method.

https://github.com/elastic/logstash

[2015-08-13 22:26] phutchins commented on #6
Looks like this may be an issue with jruby in windows.

Check out the bug report here...
https://github.com/jruby/jruby/issues/1614

You may want to contribute to the thread.

[2015-08-13 22:31] phutchins commented on #5
@Tharves, the logstash_sqlite.db file is a very small database. It is created by the input-mongodb plugin and it is used to keep track of, or bookmark the last processed documents from mongo. You do not need to create it, simply provide a directory that logstash can write to and specify the desired file.

@exprnet This sounds like you might still be using the old gem. I'll build it and push it to

[2015-08-14 03:04] exprnet commented on #5
![untitled-1](https://cloud.githubusercontent.com/assets/12926438/9266483/a7656a0a-420f-11e5-81ba-84e04102e9aa.jpg)
Does that work?
![untitled-1](https://cloud.githubusercontent.com/assets/12926438/9266490/ae52d154-420f-11e5-8470-a616ab051118.jpg)

[2015-08-14 03:05] exprnet commented on #5
still same issue.

[2015-08-14 03:22] deepvoice commented on #5
After redo'ing everything from scratch per your instructions in my comment... I am now having the above issue as well

[2015-08-14 05:38] Vinoth28 commented on #6
Thank you for the reply, but I think the discussion is still going on there and i haven't found a solution yet. may i know what does the Path specify in the conf file. what does that logstash_sqlite.db refers to. where to find that file actually.

[2015-08-14 06:33] Vinoth28 commented on #6
facing an error like this now by using the new gem

![image](https://cloud.githubusercontent.com/assets/13480367/9268428/7695981a-427c-11e5-86b1-982ffa6a94b2.png)

[2015-08-14 11:34] phutchins commented on #6
@Vinoth28 , the logstash_sqlite.db file is a very small database. It is created by the input-mongodb plugin and it is used to keep track of, or bookmark the last processed documents from mongo. You do not need to create it, simply provide a directory that logstash can write to and specify the desired file.

I'll update the documentation to make it a bit more clear on that...

I working on getting

[2015-08-14 11:36] phutchins commented on #5
@exprnet, @deepvoice which method did you use to install logstash? Zip, package or github repo? If it's the github repo, which SHA or tag are you using?

I've had to use the zip file download to get this to work. Using the github repo does not seem to work for me when installing plugins with bin/plugin install [plugin].

[2015-08-14 11:47] phutchins commented on #5
For reference this is my complete install path...

[code]

[2015-08-14 11:58] phutchins commented on #5
And from git...

[code]

Note that I have jruby installed and I'm running rake test:install-core to install the core plugins which include the logstash plugin that your error is complaining about.

[2015-08-14 14:55] deepvoice commented on #5
I am also to this point. It installs but complains when used

[2015-08-14 18:18] phutchins commented on #5
@deepvoice can you answer my questions for you from above? It would be very helpful in solving your problem...

And "complains when used" would be more helpful with error logs.

[2015-08-14 18:20] phutchins commented on #7
@deepvoice Is the error in the first post your most recent error? Its best to post edits in new comments so I can keep track of our progress...

Maybe this is similar to your issue?
http://stackoverflow.com/questions/26360657/many-require-cannot-load-such-file-gem-name-loaderror-after-upgrade-o

[2015-08-14 18:45] deepvoice commented on #5
I didn't want to paste an exact duplicate error. It is exactly the same as the exprnet comment above

[2015-08-14 20:07] exprnet commented on #5
I’m doing this in Windows;  how would you recommend going about it in Windows?

---
Abir Ray
Director
Expression Networks, LLC.
Perpetual Innovation. (tm)

SDB Certified.

Unclassified: abir.ray@expr.net <mailto:abir.ray@expr.net>
NIPR: abir.ray2.ctr@mail.mil <mailto:abir.ray2.ctr@mail.mil>
SIPR: abir.ray2.ctr@mail.smil.mil <mailto:abir.ray2.ctr@mail.smil>
On-the-web: http://corp.expr.net/ <http:/

[2015-08-14 20:27] exprnet commented on #5
(i have installed log stash from the zip not from git.)

[2015-08-16 13:05] RoeiA opened #8 "Getting data from system collections"
Hello,

I've been trying out this plugin and it's great!
I'm like to get data from a system.profile collection in order to create an operation analysis dashboard in Kibana.
When I try to do that, logstash gives me this message:
D, [2015-08-16T12:17:14.914000 #30642] DEBUG -- : MONGODB | COMMAND | namespace=gig_requests.$cmd selector={:listCollections=>1, :cursor=>{}, :filter=>{:name=>{"$not"=>/sys

[2015-08-17 06:21] Vinoth28 commented on #6
![image](https://cloud.githubusercontent.com/assets/13480367/9299128/252a17b0-44d6-11e5-87b4-d77290ad04fc.png)

I am getting this error but i have specified the URI still getting this error. can you help me to resolve it.

[2015-08-19 02:45] Tharves commented on #5
Hello Thanks a lot, I have installed successfully, But i am getting connectivity issue.

MongoDB Details
 use searchdb
db.searchdb.insert

I am tested mongodb connectivity from java class, which is reteriving data what i inserted.
example :
 MongoClient mongoClient = new MongoClient( "localhost" , 27017 );
DB db = mongoClient.getDB( "searchdb" );
DBCollection coll = db.getCollection("searchdb");

[2015-08-19 11:52] phutchins commented on #6
@Vinoth28 could you provide your config please?

[2015-08-19 11:54] Vinoth28 commented on #6
This is my conf file

![image](https://cloud.githubusercontent.com/assets/13480367/9355463/247a8134-4697-11e5-956d-12e78ba9c4ed.png)

[2015-08-19 11:57] Vinoth28 commented on #6
with the new version i get this error.
![pastedimage](https://cloud.githubusercontent.com/assets/13480367/9355498/8e5dc818-4697-11e5-96a4-ab173d906d4c.png)

[2015-08-19 13:04] phutchins commented on #6
Your config looks correct. What does the mongo log say on the other side?

Assuming you're not using SSL with mongo?

[2015-08-19 14:21] abirray commented on #5
Tharves,

I assume you got everything installed since you are using log stash 1.5.2 on windows rather than 1.5.3 (which is where i still have an issue.)

Thanks,
Abir

---
Abir Ray
Director
Expression Networks, LLC.
Perpetual Innovation. (tm)

SDB Certified.

Unclassified: abir.ray@expr.net <mailto:abir.ray@expr.net>
NIPR: abir.ray2.ctr@mail.mil <mailto:abir.ray2.ctr@mail.mil>
SIPR: abir.ray2.ctr@

[2015-08-19 14:53] phutchins commented on #8
Thanks for the input!

I see exactly what you mean. I'm contemplating a way to get around this now...

[2015-08-20 02:34] Tharves commented on #5
I tried to use logstash-1.5.3

I am getting issue with plugin install --development

D:\POC\Worksetup\logstash-1.5.3\bin>plugin install --development
io/console not supported; tty will not be manipulated
Installing logstash-devutils, ftw, logstash-output-elasticsearch, stud, logstash-codec-json, logstash-codec-multiline, flores, simplecov, coveralls, logstash-input-generator, longshoreman, rumbste

[2015-08-24 05:30] Vinoth28 commented on #6
Is it necessary to use SSL with mongo to get it working?

[2015-08-24 13:51] CarlitoxxPro opened #9 "Infinite loop adding mongoDB documents into ElasticSearch"
We use this logstash configuration:

input {
  mongodb {
    uri => 'mongodb://127.0.0.1/test'
    placeholder_db_dir => '/users/sth00/logstash-mongodb/'
    placeholder_db_name => 'logstash_sqlite.db'
    collection => 'Users'
    batch_size => 5000
  }
}
output {
  stdout { codec => rubydebug }
  elasticsearch {
    host => "127.0.0.1"
    protocol => "http"
    index => "mongodb-%{+YYYY.MM.dd}"

[2015-08-30 11:35] pnigos commented on #5
Still have some issues on logstash 1.5.4,hope can solve them soon.

root@ubuntu:/opt/logstash/bin# ./logstash -t -f /etc/logstash/conf.d/xxx.conf
Missing a required setting for the mongodb input plugin:

  input {
    mongodb {
      path => # SETTING MISSING
      ...
    }
  } {:level=>:error}
Error: Something is wrong with your configuration.
root@ubuntu:/opt/logstash/bin# vim /etc/logstash/con

[2015-09-05 01:12] mfmbarros opened #10 "logs events in loop"
Hi

I sucessfully installed logstash-input-mongodb plugin in my logstash instance but probably there's something missing somewhere in my configuration. Just for test, I added a single entry in my mongodb collection and started up logstash with the following configuration:

input{

        mongodb {
        uri => 'mongodb://127.0.0.1:27017/syslog?ssl=no'
         placeholder_db_dir => '/opt/logsta

[2015-09-15 13:25] JoachimKunz opened #11 "DB_Auth don't work"
Hi.

I've got a problem regarding the authentication with the MongoDB.

The tools I use:
* MongoDB: 3.0.6
* Elasticsearch: 1.7.2
* Logstash: 1.5.4
* logstash-input-mongodb: logstash-input-mongodb-0.2.0.gem

This is the output of my log file containing the problem:
[code]
My logstash Config:
[code]
The password contains a comma. To escape the comma I have used url-encode (%2C).
The authenticationDa

[2015-09-23 00:56] gatoatigrado commented on #11
++, I found a way to work around this issue, just change

https://github.com/phutchins/logstash-input-mongodb/blob/master/lib/logstash/inputs/mongodb.rb#L163

to read

[code]

not sure what the manual uri parsing stuff is about anyway.

[2015-09-25 22:27] jatanpatel92 commented on #9
Did you find the solution of this problem? Actually I am having the same issue.

[2015-09-28 13:32] CarlitoxxPro commented on #9
not until now, but when I have some time, I try to analize some code to see if I can make it work properly.

[2015-09-29 21:35] sirmodok commented on #10
I have run into this problem as well.
logstash iterates through my mongodb properly all the way through the end. Once it hits the end, logstash will send the last entry to elasticsearch over and over and over.

My input looks similar to yours.
input {
  mongodb {
    uri => 'mongodb://127.0.0.1/mnemosyne'
    collection => 'hpfeed'
    batch_size => 5000
    placeholder_db_dir => '/opt/logstash/'

[2015-09-30 16:04] phutchins commented on #10
That's very odd. I will try to replicate it. The idea is that entries are parsed from first to last using the mongo ID as reference. As an entry is parsed, it is written to the placeholder db. Once it is written to the palceholder DB, it should not be parsed again. Only newer entries in each collection should be parsed. Can you show what your logstash_sqlite.db database looks like?

You can do thi

[2015-09-30 16:08] phutchins commented on #11
The URI parser is intended to grab the ssl true or false bit from the URI so that the plugin can error intelligently if required SSL files do not exist. This may not be needed at this point so I may test with it removed.

Are you using SSL with the fix that you applied @gatoatigrado ?

[2015-10-01 01:26] jatanpatel92 commented on #10
Hi,
as you can see in the logs below, ObjectId('5601f86622c4b413823e1b5e') is being repeated several times until the filtering is not stopped manually. Moreover, ObjectId('5601f86622c4b413823e1b5e') is the last updated document on my mongodb......

[2015-10-01T01:11:01.843000 #685325104] DEBUG -- : MONGODB | QUERY | namespace=predsec.system.namespaces selector={:name=>{"$not"=>/system\.|\$/}} flag

[2015-10-01 10:44] mfmbarros commented on #10
In my setup:

[root@localhost bin]# /usr/bin/sqlite3
/opt/logstash-mongodb/logstash_sqlite.db
SQLite version 3.7.17 2013-05-20 00:56:22
Enter ".help" for instructions
Enter SQL statements terminated with a ";"
sqlite> select * from since_table;
logstash_since_messages|560d0bab17c9c8a90c000009
sqlite>

Just for test logstash is sending whole output to a file, when checking
last 3 entries for exampl

[2015-10-01 15:46] sirmodok commented on #10
In my setup
When I run logstash after setting everything up it iterate through all the stored events and then starts looping through the last even over and over as seen here.

{
          "host" => "mhn",
      "@version" => "1",
    "@timestamp" => "2015-10-01T15:40:10.018Z",
       "logdate" => "2015-10-01T15:15:40+00:00",
      "mongo_id" => "560d4e1c9b630362e3fe915d",
         "ident" => "5a93

[2015-10-01 18:23] tacoben commented on #5
Hi - we are having a problem when running:
plugin.bat install --development (on windows!)

we get:

io/console not supported; tty will not be manipulated

Installing logstash-devutils, ftw, logstash-output-elasticsearch, stud, logstash-codec-json, logstash-codec-multiline, flores, simplecov, coveralls, logstash-input-generator, longshoreman, rumbster, logstash-filter-kv, logstash-filter-ruby,
logs

[2015-10-01 18:23] tacoben commented on #5
we followed up by successfully installing the gem - but this did not resolve the issue.

[2015-10-01 18:36] tacoben commented on #5
MY issues were resolved by unzipping into a root of c: folder on windows.

Read this thread in entirety:

https://github.com/elastic/logstash/issues/3829

[2015-10-02 11:16] phutchins commented on #10
Ok, I'll try to replicate on my side... If you're code savvy, feel free to attempt a fix and submit a pull request.

[2015-10-02 11:24] phutchins commented on #10
Something to note, I just did a diff against what I'm running in production and what's in master and it's the same but I'm not seeing the same issue.

A couple of questions...

What version of mongodb are you running?
Is your DB entry being updated after it's parsed in any way?

[2015-10-02 15:12] sirmodok commented on #10
Mongodb version
MongoDB shell version: 2.6.10

It shouldn't be updated after parsing, however I did not write the
application that is writing and reading data from the database. (modern
honey network)
I did try shutting down modern honey network so it was not running, then
running logstash to see if it stopped looping while processing the last
entry.
It still looped while processing the last entry

[2015-10-02 19:08] jatanpatel92 commented on #10
phutchins,

What is your MongoDB shell version? Let me try to update my MongoDB and see if it works!

[2015-10-02 19:41] sirmodok commented on #10
I'm actually embarrassingly not code savvy. I have only recently started to
write code for use in chef recipes and I'm not super proficient at it.
When I first noticed the issue I did try to scan through the code to see if
I could spot the issue, but I didn't really.
Based on the fact that the sqlite database has the correct "last id" in it
I would imagine the issue is not with the def update_plac

[2015-10-05 00:27] intellica commented on #5
Hi When i try to install sample output  plugin i got following error; can you give some suggestion...

Validating /Users/alhas/Development/gitworkspace/logstash-codec/logstash-output-example-0.1.3.gem
Installing logstash-output-example
Plugin version conflict, aborting
ERROR: Installation Aborted, message: Bundler could not find compatible versions for gem "logstash-core":
  In snapshot (Gemfile.l

[2015-10-05 01:17] intellica commented on #5
Ok I solved. Problem was in spec file, wrong version for logstash-core

[2015-10-05 09:33] mfmbarros commented on #10
My mongodb version is 2.6.10 as well. I'm doing some troubleshooting - my
mongodb collection did not receive any new entry for hours,yet, when
querying since_table it returns the last mongodb entry, the one that was
added some hours ago in my collection. Isn't it supposed this since_table
be flushed after processing?

2015-10-02 20:41 GMT+01:00 sirmodok <notifications@github.com>:

[2015-10-05 18:30] fshort opened #12 "Authentication failure"
Am trying to configure this plugin to connect to my mongo replica set and am getting the following error: "not authorized for query on uilogs.system.namespace (13)"

From the mongo logs, reports something similar: "assertion 13 not authorized for query on uilogs.system.namespaces ns:uilogs.system.namespaces query: { name: $not: /system\.|\$/ } }"

My conf file looks like this:
...
mongodb {
  uri

[2015-10-06 13:16] snagajot commented on #10
@phutchins
The query *"return collection.find({:_id => {:**$gte** => last_id_object}}).limit(batch_size)" keeps returning the last object id if there are no new documents which is why the looping.

**Proposed fix:**
Replacing $gte with **$gt** will return no results if there are no new documents and will fix the looping issue. Also I am running Mongo v2.6.7.

Unfortunately, I am not very familiar

[2015-10-07 08:33] CarlitoxxPro commented on #10
@snagajot , I'm tested your fixing proposal and working properly

thanks

[2015-10-07 08:38] CarlitoxxPro commented on #9
the proposal fix is:

Edit the file: vendor/local_gems/9d72c2a4/logstash-input-mongodb-0.2.0/lib/logstash/inputs/mongodb.rb

search this line: return collection.find({:_id => {:$gte* => last_id_object}}).limit(batch_size)

and replace $gte (greater than or equal) by $gt (greater than)

and the problem is solved.
Thanks to @snagajot

[2015-10-07 14:40] snagajot commented on #9
@CarlitoxxPro Thanks for the tip. I was able to make the changes and it worked.

But.. there arises an issue when it is the first time querying a mongo DB. The first document will be skipped since $gt of the first element's _id will give you second document onwards. Any thoughts on how to fix this ? One way is to use '$eq' if it is the first element (if no existing last_id in sqllite db) and $gt (

[2015-10-07 14:48] snagajot commented on #9
Also, if you want logstash to stop once all documents are read from Mongo (and not be in a loop waiting for updates) comment the following lines in mongodb.rb.

lines 225-227,232,344-348

[2015-10-07 16:45] jatanpatel92 commented on #10
@snagajot : Thank you so much for providing the solution, I also had done the same but when i verified the count of documents in mongodb with indexed data of elasticsearch, they somehow did not match! So, if you can reproduce the issue may be we can work further over this.

@phutchins : I think we should register it as an official plugin with Elastic! It will be a great help for other multi databa

[2015-10-07 17:17] sirmodok commented on #10
I performed the following steps.

*uninstalled the current logstash-mongodb-input plugin*
bin/plugin uninstall logstash-input-mongodb

*Cloned the latest version*
git clone https://github.com/phutchins/logstash-input-mongodb.git

*Located the "$gte" and modified it to "$gt" in lib/logstash/inputs*
[image: Inline image 1]
[image: Inline image 2]

*re-installed the plugin *
modok@mhn:/opt/logstash$

[2015-10-07 18:18] phutchins commented on #10
@snagajot awesome! I'll make the change and test and push the fix if all looks well. I'm curious how my instance is not getting duplicate entries using the same code so I'll see...

@jatanpatel92 I agree. I'd planned on submitting it but had not gotten around to it. I wanted to make sure that the quality was good and reviewed before submitting so all of these reports have been a great help.

[2015-10-07 18:55] snagajot commented on #10
@phutchins Thank you ! But I found an issue with using $gt as I explained in another thread (https://github.com/phutchins/logstash-input-mongodb/issues/9) -

*"there arises an issue when it is the first time querying a mongo DB. The first document will be skipped since $gt of the first element's _id will give you second document onwards. Any thoughts on how to fix this ? One way is to use '$eq' if

[2015-10-07 19:02] snagajot commented on #10
@jatanpatel92 is the difference in count consistent always ? When using $gt and querying against a new mongo collection, you end up missing the first document. If that's not the case then you might want to check  if all the documents are getting indexed into elastic without any errors.

@sirmodok That is because you will have to rebuild the .gem files used for installation. I have been unsuccessfu

[2015-10-07 19:05] snagajot commented on #10
@phutchins please share your steps on how you fix/rebuild/generate the plugin (.gem files). I tried with my little knowledge in ruby and rubygems but haven't succeeded. was able to generate the .gem file but aren't recognized in logstash when installed.

[2015-10-07 19:11] jatanpatel92 commented on #10
@snagajot : Hereis the command for making .gem:

gem build logstash-input-mongodb-0.2.0.gemspec

[2015-10-07 19:13] snagajot commented on #10
@jatanpatel92 I tried this and installed the plugin. But for some reason logstash doesn't recognize it for me. I am sure i am doing something wrong, didn't expect it to work. This is my first time with Ruby. Let me know if you get it to work.

[2015-10-07 19:52] jatanpatel92 commented on #10
@snagajot : clone the following and use 0.3.0

https://github.com/jatanpatel92/logstash-input-mongodb

Since I know little about ruby, I seek help to prevent the data loss!

[2015-10-08 07:55] CarlitoxxPro commented on #9
In my test, I only change this ($gte by $gt), flushing the since.db of logstash, use a new mongo database with 5 entries, inserting directly in elasticsearch.

when I start logstash, this put the 5 entries into elasticsearch correctly, after this I insert more entries into mongo db manually and the logstash get and put in elasticsearch as well.

if i stop the logstash and run again, logstash waiti

[2015-10-08 08:00] CarlitoxxPro commented on #10
@sirmodok you compile the source after apply these change in the file mongo.rb? I think you apply the change in the source and install the precompiled gem (without this change), you need apply the change after the installation of the plugin or compile the modified source in a new gem and install.

@jatanpatel92 @snagajot
"In my test, I only change this ($gte by $gt), flushing the since.db of logst

[2015-10-08 18:52] sirmodok commented on #10
@CarlitoxxPro @snagajot
Thanks for the help. After I made the changes to the CORRECT file everything started functioning correctly.

[2015-10-08 19:26] snagajot opened #14 "Retain complex JSON structure from Mongo"
@phutchins My mongo contains complex nested JSON documents that I am trying to index into Elastic search (with a predefined mapping). By using the plugin in either 'flatten' or 'dig' mode, the complex JSON structure is lost. For example, array of nested json documents are represented as a string so Elastic does apply the mapping against it.

Any thoughts on how to retain the structure from Mongo w

[2015-10-12 11:34] gairom opened #15 "Input config - Mongo specific collection"
Hi,
Is there any way to config a specific collection instead of the regex?
So if I have these collections: hits, hits-old, hits-1, I want to be able to define "hits" and get docs only from this collection without the other collections.
Thanks!

[2015-10-12 20:21] gairom commented on #15
On the same matter, is there any way to get the doc collection?
That way I'll be able to allocate different type to each collection or put them in different indexes.

[2015-10-14 11:18] phutchins commented on #10
Thanks for all the help on this guys. I merged the pull request from @jatanpatel92 which looks good to me. I have not had time to test (life gets in the way) but as it is a major version bump I feel ok taking a little risk. If you could, try out the new master (I'll start tagging for versions) and let me know how it works. I need to knock out some of the other fixes for auth and such.

If all look

[2015-10-14 14:14] gairom commented on #14
wrote a simple parse method to support, you can close the issue.

[2015-10-14 14:26] gairom opened #17 "Logstash & ES 2.0 support"
Hi,
Is anyone tested this input with the new Logstash 2.0 version?
I want to upgrade soon...
Thanks.

[2015-10-14 14:58] phutchins commented on #14
You should be able to not use either flatten or dig and get the original
structure. I have not tested it in this way although I designed it to be
able to do this for use cases like yours. Did you try it that way? I'd like
to have the plugin be able to support your use case without a complex
config if possible...

On Wed, Oct 14, 2015 at 10:14 AM, gairom <notifications@github.com> wrote:

[2015-10-14 18:49] jatanpatel92 commented on #10
@phutchins : Sure. I will look into the issue further and try to fix it.

[2015-10-16 21:39] gairom opened #18 "Tail Mongo Oplog"
Hi,
Is there any plans to implement tailing the Mongo oplog in order to pickup changes to existing docs?

[2015-10-16 23:00] gairom commented on #18
maybe somehow combine this with this plugin: https://github.com/stripe/mongoriver

[2015-10-26 14:16] snagajot commented on #14
@phutchins @gairom I was able to remove references to flatten/dig methods and simply write the event to the queue although I had to change the codec to 'Json'. Below is my version of the cursor loop in 'run' method -

          cursor.each do |doc|
			logdate = DateTime.parse(doc['_id'].generation_time.to_s)
            #event = LogStash::Event.new("message" => doc.to_h.to_json.to_s)
			@codec.dec

[2015-10-26 14:16] #14 closed

[2015-10-26 14:27] snagajot opened #19 "Exit loop once all documents are read"
@phutchins  Currently, the plugin processes all the documents in the collection and infinitely waits/listens for new documents. I am trying to make the process exit once all the documents are read, so I tried this fix within 'get_cursor_for_collection' method -

			public
			  def get_cursor_for_collection(mongodb, mongo_collection_name, last_id_object, batch_size)
				collection = mongodb.collect

[2015-10-26 16:28] phutchins commented on #19
Hey @snagajot That is true, and I can definitely see the case where you would want this behavior. When I get a chance, I'll take a look at what you have here and see what the best way to do this would be. My initial thought is to simply add a configuration parameter that only lets the process complete once.

We should be able to add something here...

https://github.com/phutchins/logstash-input-mo

[2015-10-26 21:10] snagajot commented on #19
@phutchins I agree with the config parameter. I can only see one issue with adding the exit at line 346, which is when the batch size is less than the total collection document count. In this case, the loop is necessary until all documents are read. Which is why i tried adding the exit to the get_cursor_for_collection method. Makes sense ?

[2015-10-26 21:24] phutchins commented on #19
@snagajot yes, completely. We can do something like set a flag for each collection when it returns no more documents and if all of the tracked collections are flagged as empty, then exit.

[2015-11-03 14:59] snagajot commented on #19
@phutchins @jatanpatel92 I went ahead and used the exit code in get_cursor_for_collection method like this -

				def get_cursor_for_collection(mongodb, mongo_collection_name, last_id_object, batch_size)
					collection = mongodb.collection(mongo_collection_name)
					# Need to make this sort by date in object id then get the first of the series
					# db.events_20150320.find().limit(1).sort({ts:1

[2015-11-03 16:28] jatanpatel92 commented on #19
@snagajot: This plugin constantly checks for real time data from MongoDB. Here is a temporary solution, If you can try to make it a service then OS can manage the memory issues. I am also learning Ruby in order to find the solution. We need eyes to find gems and rubies as of now!

[2015-11-03 17:37] snagajot commented on #19
@jatanpatel92 Can you elaborate on how you run it as a service ?

[2015-11-03 19:25] snagajot commented on #19
@jatanpatel92 i did a little reading on running logstash as a service and it seemed a bit of an overkill for my purpose. I think the simpler solution for my problem would be to just break the loop when all documents are read in a collection. If @phutchins could find a way to implement the exit logic without causing a memory leak (I still don't understand why or how), we will be golden.

[2015-11-04 18:20] snagajot commented on #19
@jatanpatel92 @phutchins so i came up with an alternative way to exit the loop gracefully, dare say hack. In a nutshell, I added a new method to get the last id of the entire collection and store it in a variable. Which is then checked against last id of each collection batch to see if its the last document and exit if yes. Below is some code snippets -

1. New method to get the last document id i

[2015-11-11 06:08] eromoe commented on #17
can not install

[2015-11-12 23:10] euge-g opened #20 "Nested fields"
Thank you for the plugin, so far it works well and was quick to set up.

I have many fields that contain other fields and are nested to many levels. For example a field may contain the following:
[code]
Is there a way to either have the plugin parse the contents as children of the parent field, or if there are existing filters that can parse the data properly?

I'm currently looking into using the

[2015-11-17 09:44] ShraddhaBandhakavi opened #21 "i/o console not supported tty will not be manipulated in logstash error in windows"
i am a new use to elk i am getting the error please suggest me

[2015-11-22 22:43] marcinkubica commented on #5
Got this issue for Logstash 1.5.5 and 2.0.0
Any chance author can fix this?

[2015-11-23 14:29] phutchins commented on #5
Sure thing. @intellica, what changes did you make to get it working for you? I've made the changes to the spec file for a plugin to use 2.0.0 so I'm aware of the changes needed there...

[2015-11-23 18:40] chakrip82 opened #22 "deleting mongodb documents doesn't get removed in ElasticSearch(ES)"
Hi @phutchins ,

I tried using logstash-input-mongodb-0.2.0 for syncing mongodb data with ES.

However when we remove documents in mongoldb corresponding documents are not getting removed from ES.

Is this known issue or expected behaviour.

Please let us know how to resolve this issue if already fixed.

regards,
chakrapani

[2015-11-30 13:29] phutchins commented on #22
This is expected behavior. There would have to be quite a bit more logic added to handle this case.

My use case was for parsing logs from mongo to Elasticsearch so there was no need to check if entries were deleted. It only sync's going forward.

Do you mind sharing your use case?

[2015-11-30 13:37] phutchins commented on #20
Hello @euge-g, thanks for your positive input! I'm very happy that you've found use in this plugin.

For nested fields, you should simply be able to not use flatten or dig and get the original structure passed in from the plugin to Logstash.

To preserve that structure in JSON as it goes through Logstash, you might be able to filter the field as JSON (if it's in JSON format).

Link: https://www.el

[2015-11-30 13:41] phutchins commented on #19
@snagajot This is awesome! If you're open to creating a pull request I'd love to pull this into the plugin. We would have to add a config parameter to be able to switch this functionality on, keeping the exiting functionality unless the parameter is added.

I'd call it 'one_pass' or something along those lines...

Thanks!

[2015-11-30 13:45] phutchins commented on #5
Updated spec file should solve this. Please let me know if you are still seeing this issue... Closing.

[2015-11-30 13:45] #5 closed

[2015-11-30 13:46] phutchins commented on #6
It should not be but my use case uses SSL so there is a chance that my logic doesn't work well with non ssl. Did you get this working? If not I'll take a look and test without SSL.

[2015-11-30 13:47] phutchins commented on #7
Spec file has been updated and haven't heard back so I assume this is fixed. Please let me know if this is not the case. Closing.

[2015-11-30 13:47] #7 closed

[2015-12-09 13:24] phutchins commented on #22
Closing this as this is expected behavior... If you have ideas around how this could be accomplished or would like to submit a pull request to add this as a feature, I'd be happy to entertain the idea.

[2015-12-09 13:24] #22 closed

[2015-12-09 13:25] phutchins commented on #20
Haven't heard back so I assume you got it working. If you're still stuck, feel free to comment again and I'll do what I can to help! Closing.

[2015-12-09 13:25] #20 closed

[2015-12-09 13:27] phutchins commented on #18
Actually, I would love to implement this. This is a great use case for this plugin. It might even be well suited as the default behavior.

I'll look into what this would take. Feel free to add any ideas or thoughts...

[2015-12-09 13:46] phutchins commented on #17
@gairom, I've tested installing in Logstash 2.1.1 via bin/plugin install logstash-input-mongodb-0.3.1.gem and it installed without issue.

@eromoe, there's not much I can do to help you if you do not include any details. I'm closing this issue so if you are still having issues, please re-open.

[2015-12-09 13:46] #17 closed

[2015-12-16 12:43] phutchins commented on #1
Going to close this since it's been dead for so long. If you still have a need or interested in working on this, let me know and I'll open discussion back up.

[2015-12-16 12:43] #1 closed

[2015-12-16 12:46] phutchins commented on #6
I've tried this without SSL and it seems to work fine for me. I've got another issue that I'm looking at where we simplify the uri and ssl. After that is complete, let me know if you're still having issues. Closing as this has been dead for a while.

[2015-12-16 12:46] #6 closed

[2015-12-16 12:48] phutchins commented on #8
@RoeiA I haven't had much of a chance to take a stab at this. Do you have any ideas on the best way we could accomplish this? I'd be glad to look at a merge request and help you work through it.

[2015-12-16 12:52] phutchins commented on #9
The MR associated with this has been merged so I'm closing this one. Please feel free to comment if you have additional questions or concerns. Thanks for the input!

[2015-12-16 12:52] #9 closed

[2015-12-16 13:01] phutchins commented on #10
Looks like the changes made for $gte to $gt have fixed this. I tested with 5 documents and got 5 documents out, no looping. Closing issue.

[2015-12-16 13:01] #10 closed

[2015-12-16 14:02] phutchins commented on #11
@gatoatigrado The idea behind manual URI parsing is to be able to abstract away the mongo URI from the user in the Logstash config.

At this point I'm find with simply using the URI and letting the user figure out everything from there.

I still however can't seem to get auth working with the simple conn = Mongo::Client.new(@uri) which you've described. I attempted to get things working this way i

[2015-12-16 14:20] phutchins commented on #11
Fixed. Closing.

[2015-12-16 14:20] #11 closed

[2015-12-16 14:20] phutchins commented on #12
This should be fixed in 0.3.2. Please give it a shot and let me know if it works for you @fshort. Thanks!

[2015-12-16 14:22] phutchins commented on #12
Closing. Please let me know if this did not fix the issue for you.

[2015-12-16 14:22] #12 closed

[2015-12-16 14:25] phutchins commented on #15
hey @gairom, since the collection param is just a regex, you could do "hits^" to get only the hits collection. To be even more strict you could do "$hits^".

I may in the future add a param to enable or disable regex on the collection param so this is a little less confusing...

Give it a shot and let me know if that works for you.

[2015-12-16 14:28] phutchins commented on #21
@ShraddhaBandhakavi can you give a little more information about your setup, logstash version, mongo version, config, and a more detailed error?

Looks like maybe you're not supplying a config file via command line?

https://discuss.elastic.co/t/io-console-not-supported-when-starting-logstash-1-5-0-on-win-7/966

[2015-12-17 15:24] marcinkubica commented on #18
Hi, defo this  feature will make your plugin complete!  it takes months already for mongodb team to upgrade their connector to support ES 2.x and frankly thats a little too long.
+100

[2015-12-18 14:22] Analect commented on #1
Sorry @phutchins
Thanks for your offer to help here ... but ended up using a different approach.

[2015-12-18 15:00] phutchins commented on #1
@Analect of course. Glad you found a way to do what you were trying to do!

[2015-12-22 08:24] hu985815621 commented on #19
@phutchins Is this plugin used to import mongodb data into elasticsearch?

[2015-12-22 08:25] jatanpatel92 commented on #19
Yes

[2015-12-22 08:28] hu985815621 commented on #19
@jatanpatel92 What are the specific steps? I don't understand. Are you Chinese? Can you leave a contact?

[2015-12-22 21:41] gairom commented on #15
Tried it, both "hits^" and "$hits^" didn't work, the listCollections return empty

[2015-12-29 11:22] RdrgPorto commented on #22
Hi @chakrip82
You could try with Mongo Connector : https://github.com/mongodb-labs/mongo-connector
There is a article which you can learn how to use it : https://blog.jixee.me/how-to-use-mongo-connector-with-elasticsearch/
Good Luck!!

[2015-12-30 02:07] marcinkubica opened #26 "Install fails caused by Gem::Package::FormatError"
Hi

Still trying to figure out how to actually install your plugin and I simply cant.

Logstash 2.1.1 install by repo

[code]

Install by file

[code]

That's for 0.3.1 and 0.3.2 as well

CentOS Linux release 7.1.1503 (Core)

[2016-01-07 04:03] boujansa opened #27 ""comparison of Fixnum with nil failed""
Hi,

I am trying out logstash and I was very happy to find this plugin.

I installed the plugin but when I use to pull the database i get the following error:

D, [2016-01-07T03:59:54.337000 #9574] DEBUG -- : MONGODB | Adding localhost:27017 to the cluster.
D, [2016-01-07T03:59:54.501000 #9574] DEBUG -- : MONGODB | localhost:27017 | umbrella.find | STARTED | {"find"=>"system.namespaces", "filter"=

[2016-01-19 00:00] #26 closed

[2016-01-19 01:20] marcinkubica opened #28 "How to select collection from database"
Hi

I have several databases and collections in them.

How do you specify this in config?

Ie. want to read from ```myExampleDb.collectionABC```

[2016-01-19 16:11] yanosh-igor commented on #28
Try this:
[code]

[2016-01-20 16:59] marcinkubica commented on #28
Ok, what if I have collections of the same name across few databases on the same server?

[2016-01-21 14:13] yanosh-igor opened #29 "How to add Mongodb query?"
I want to copy only data for last month to elasticsearch.
How can I specify some query to mongodb?

[2016-01-21 15:13] yanosh-igor opened #30 "How to handle multi dimensional objects"
I have field in mongodb that contains json object.
How can I save this document structure into elastic?
Example:
[code]

[2016-02-03 14:32] phutchins commented on #18
Just an update... Haven't lost sight of this. Just been busy over the holidays. Plan on attacking this one soon. Help in the form of PR's is always welcome :).

If anyone is good with writing tests, that would be a huge help to the plugin...

[2016-02-03 20:25] joshporter1 opened #31 "Failing on document - Invalid ObjectID"
I'm working on using this input gem to pull data from a MongoDB instance (that I don't own or manage) and sync it up with Elasticsearch. This input seems to do just that, but I'm having an issue actually fetching the data.

I get the following error on all objects:

`
MongoDB Input threw an exception, restarting {:exception=>#<BSON::ObjectId::Invalid: '[domain name or MD5]' is an invalid ObjectId.

[2016-02-03 21:13] joshporter1 commented on #31
Also, looking into this a little more - correct me if I'm wrong - it doesn't appear that setting generateId to true does anything. Could enabling that potentially solve my problem?

[2016-02-04 09:57] ShekharSahu opened #32 "Could not fetch specs from https://rubygems.org/ HTTPError Installation Aborted"
I am using ELK stack on Windows, with logstash-2.2.0. When I try installing logstash-input-mongodb plugin using the following command in the terminal.
`logstash\bin>plugin install <path to logstash-input-mongodb-0.3.3.gem>`
I get the following error
`Validating D:\........\logstash-input-mongodb-0.3.3.gem
 Installing logstash-input-mongodb
Error Bundler::HTTPError, retrying 1/10
Could not fetch sp

[2016-02-05 04:10] marcinkubica commented on #19
Um, wonder what happened to this? Why do I need it and it's not there ehh :)

[2016-02-05 13:07] phutchins commented on #19
@marcinkubica Feel free to submit a PR with the needed changes :).

[2016-02-05 17:44] marcinkubica commented on #19
I would if I'd be a ruby dev. But im not :(

--
Sent from Gmail Mobile

[2016-02-10 21:36] kurkop opened #33 "Plugin for logstash>2.0.0"
Hi,

I want used logstash with the plugin, but I understand that is not avalaible for logstash>2.0.0. Are you planning to upgrade?

https://github.com/elastic/logstash/issues/4169

[code]

[2016-02-11 13:08] phutchins commented on #19
@marcinkubica this is on my list... I'll get to it as soon as I can but there are a number of things in front of it. Shouldn't be too difficult as the code is pretty much already done by @snagajot above. Maybe he will submit a PR.

[2016-02-11 13:09] phutchins commented on #18
Just an update but this is one of the next tasks on my list. Hope to tackle soon...

[2016-02-11 13:41] snagajot commented on #19
@phutchins I will give it a shot. My real challenge will be adding the config param and realigning the code to adhere to one single functionality. I am a newbie so pardon me if I mess something up.

[2016-02-11 14:22] phutchins commented on #19
@snagajot awesome, thanks! No worries on being a newbie, gotta learn somehow. I'm glad to work with you until we get it right...

[2016-02-11 15:30] marcinkubica commented on #19
@phutchins @snagajot cheers guys. I'll manage with custom stuff for the time being (mongoexport piped to logstash stdin) but count me in as tester once you got anything out there. Just pop a line ;)

[2016-02-25 10:53] puneetjindal commented on #18
I am eager to use this feature for my problem set!

[2016-02-25 11:14] puneetjindal commented on #1
@phutchins : I am really concerned about the 3rd goal that you have mentioned i.e. "Detect new collections and begin parsing logs from them as they are created without logstash restart". It seems that this feature is not available yet

[2016-02-26 02:19] phutchins commented on #1
@puneetjindal, the 3rd goal does actually work. This is the way that I've used this plugin for quite some time.

[2016-02-26 02:39] puneetjindal commented on #1
@phutchins: what I understand from third goal is that I should not specify any collection name. The moment a new collection is added to Mongo it starts syncing the new collection.
Another question is how can I tail on Oplog with the help of this plugin?
Third question:- if I want to integrate it into my Java application where I am using this plugin for data ingestion, does it provide any API?

[2016-03-01 09:46] Surt commented on #33
+1

[2016-03-01 23:32] phutchins commented on #1
@puneetjindal you do need to specify a collection name using a regular expression.

[2016-03-08 22:31] phutchins commented on #33
Thanks for reporting this. I'm taking a look at it now.

[2016-03-08 22:41] phutchins commented on #33
Turns out I'd simply not pushed the newer versions of the plugin to rubygems.org. I've pushed and was able to install. Make sure to check the docs to ensure that your config is compatible with the new versions. I've made a few changes, most of which should be backwards/forwards compatible, but always good to confirm...

` logstash-plugin install logstash-input-mongodb
Validating logstash-input-mon

[2016-03-16 09:32] avtaniket opened #34 "Mixed source of plugins, you can't mix local `.gem` and remote gems"
Hi,

When exe command

`sudo bin/plugin install –no-verify /home/local/logstash-input-mongodb/logstash-input-mongodb-1.0.0-java.gem
`
get below error

`ERROR: Mixed source of plugins, you can't mix local `.gem` and remote gems

See: 'bin/plugin install --help'
`

[2016-04-07 22:48] moas opened #35 "Exception occurred"
Hello

How to fix this exception:
[code]
How to select or exclude fields in collection!

Thx

[2016-04-20 03:39] jpeyper commented on #35
Having this problem also :(

[2016-04-20 22:36] nreese opened #37 "Are their any build instructions?"
I am trying to build logstash-input-mongodb. Are their any build instructions?

I have been using [Elastic's guide](https://www.elastic.co/guide/en/logstash/current/_how_to_write_a_logstash_input_plugin.html). Below are the steps I have followed so far

* Set up [development envirnoment](https://github.com/EagerELK/logstash-development-environment)
* clone code base `git clone https://github.com/p

[2016-04-21 01:22] gairom opened #38 "Exception: BSON::ObjectId::Invalid: 'Infinity' is an invalid ObjectId"
I get this exception in loop (I'm running v0.3.3):
{:timestamp=>"2016-04-21T01:15:09.431000+0000", :message=>"MongoDB Input threw an exception, restarting", :exception=>#<BSON::ObjectId::Invalid: 'Infinity' is an invalid ObjectId.>, :level=>:warn}

and no document are indexed after that.
Tried to search for any invalid ID but can't find one.  The IDs are given by Mongo, I'm not setting any custom

[2016-05-17 09:30] shi-yuan opened #39 "lost one data when to elasticsearch"
my logstash config:
[code]

2767278 in mongodb, but 2767277 in elasticsearch.

Any thought?
Thanks in Advance

[2016-05-22 07:10] gairom commented on #38
????

[2016-05-27 18:58] bogdangi commented on #39
It can be that elasticsearch cannot write one document because of different payload.
for example if first document was stored with this payload:
{"body": null}
Then when logstash tries put document
{"body":{"text":"some text"}}
It will fail.

Elasticsearch usually puts errors like this into logs.

[2016-05-27 19:01] bogdangi commented on #37
I am using docker for this.
Here is my Dockerfile
[code]

But before you have to download gem.

[2016-05-28 10:08] shi-yuan commented on #39
I export mongodb data to json file and read it line by line, then store json object to elasticsearch.
In this way, no problem.

[2016-05-30 12:07] JuHwon opened #40 "get collection of document"
My collection configuration looks like this: `collection => '.*'`
Is there a way i can find out the collection of which the document is coming from?
By looking into the source code i could not find anything like that.

[2016-06-02 08:57] bogdangi commented on #39
So I tried to import 190968 documents and one lost on elasticsearch (190967)

[2016-06-23 11:03] bogdangi commented on #37
Added build instruction in pull reques #41

[2016-06-23 11:05] bogdangi commented on #39
Hi I figured out why it losing one document you can have a look in pull request #41
https://github.com/phutchins/logstash-input-mongodb/pull/41/commits/6998388caf20c53748dcdfc55e5798b8d90bc56e#diff-b50cbd06ed9aac325fc5552aa327afbbR138

[2016-07-03 12:42] searchandanalytics commented on #39
Hi,
@bogdangi @shi-yuan

This is my configuration and have only one document in collection but logstash not exit the loop once  documents are read. Any Suggestion.
input {
    mongodb {
    uri => "mongodb://localhost:27017/logtry?ssl=false"
    placeholder_db_dir => "d:/elk"
    placeholder_db_name => "logstash_mo.db"
    collection => "sample"
    batch_size => 0
  }
}
output {

		stdout { codec

[2016-07-06 13:24] bogdangi commented on #39
I guess answer is batch_size => 0

[2016-07-21 14:18] drptbl opened #42 "MONGODB | host being removed from the cluster."
Hey, I've got an issue with connection between LogStash and MongoDB.

[code]

[code]

What's missing?

Regards,
drptbl.

[2016-07-22 09:03] drptbl commented on #42
Note:
Looks like it works in some part, it connects to mongo, synchronizes data with ES and then it disconnects from mongo and crashes because can't connect back again.

[2016-08-02 14:19] StetoGraph opened #43 "Milliseconds get lost when ingesting datetimes"
First of all thanks for the implementation of a MongoDB-input for Logstash. It seems to be very reasonable as there might be many use-cases out there demanding a connection of Elasticsearch to MongoDB.

The same demand is present in the use-cases I am currently working on.

I am quite new to the ELK-stack.
Thus, in case you believe the error is related to issues on my side, please let me know.

**

[2016-08-19 18:34] sivapuvvada opened #44 "Pull the data from the collection based on time stamp"
Hi Team ,

I want to pull the data from Collection with in a specific interval time . Once the data is available it should pull the data automatically from where it left off initially .

Can we do this with this plugin

[2016-08-19 23:04] #33 closed

[2016-08-29 09:42] username1366 commented on #42
I've a same problem. Logstash worked about 3 days and then I got an expetion:
`:exception=>#<Mongo::Error::NoServerAvailable: No server is available matching preference: #<Mongo::ServerSelector::Primary:0x74b42a77`

[2016-08-31 12:52] findemor commented on #39
I am having the same problem.

I have 4 documents inside "merge" collection from my mongodb. When I run logstash, elastic search is loaded with 3 documents.
I did some tests and I noticed that the lost document is always the first document in my mongodb collection. If I try with a collection that only have a single document, then nothing is loaded into elasticsearch.

My elasticsearch index is new

[2016-09-06 09:11] pdaniel opened #46 "logstash_sqlite.db problems"
I have a problem when i configure the plugin. I've created a config file :

input {
  mongodb {
    uri => 'mongodb://mongourl/mng?ssl=false'
    placeholder_db_dir => '/opt/logstash-mongodb/'
    placeholder_db_name => 'logstash_sqlite.db'
    collection => 'pages_feed'
    batch_size => 5000
  }
}

filter {

}

output {
  elasticsearch {
    hosts => ["elasticurl:9200"]
    index => "pagesfeed"

[2016-09-06 11:53] SkyBridge007 opened #47 "error about install logstash-input-mongodb-0.3.3 for logstash-2.4.0"
Command:

Installing logstash-input-mongodb
WARNING: SSLSocket#session= is not supported
Plugin version conflict, aborting
ERROR: Installation Aborted, message: Bundler could not find compatible versions for gem "jdbc-sqlite3":
  In snapshot (Gemfile.lock):
    jdbc-sqlite3 (= 3.8.11.2)

  In Gemfile:
    jdbc-sqlite3 (>= 0) java

    logstash-input-mongodb (= 0.3.3) java depends on
      jdbc-sql

[2016-09-06 12:02] SkyBridge007 commented on #47
solution:
modify dependence of logstash-2.4.0 replace jdbc-sqlite3 (= 3.8.11.2) to jdbc-sqlite3 (= 3.8.10.1) ;
Of course I hope phutchins can fix or update this dependence .

[2016-09-06 12:02] #47 closed

[2016-09-14 13:25] harshit1810 commented on #28
@yanosh-igor yes, that's correct.

[2016-09-14 13:31] harshit1810 commented on #40
you can see it in the terminal where logstash is running. it prints something like this along with the document's ID -

D, [2016-09-14T18:15:42.105000 #8420] DEBUG -- : MONGODB | QUERY | namespace=db.Product selector={:_id=>{:$gt=>BSON::ObjectId('57d946573031daf42448ed86')}} flags=[:slave_ok] limit=30 skip=0 project=n
il | runtime: 25.0001ms

[2016-09-14 13:34] harshit1810 commented on #30
facing same issue...please specify if you are able to resolve

[2016-09-17 21:57] mosheka opened #48 "Inifinite loops due to "invalid byte sequence in UTF-8""
When the input MongoDB document has a non UTF-8 (or something like that), the input plugin gets into infinite loop, as execption is raised and process is restarted, just to hit the same case again.

logstash.stdout:
D, [2016-09-17T21:14:03.445000 #22826] DEBUG -- : MONGODB | X.X.X.X:27017 | logs.find | STARTED | {"find"=>"logs", "filter"=>{"_id"=>{"$gt"=>BSON::ObjectId('57d948b1995d5258198b457c')}

[2016-09-18 23:08] mosheka commented on #48
Solved it the meantime by trasnforming MongoDB input to utf-8 strings.
Some ideas to handle it can be found here: [https://robots.thoughtbot.com/fight-back-utf-8-invalid-byte-sequences](url)

[2016-09-19 06:58] harshit1810 commented on #46
you can comment out the line with placeholder_db_name .....logstash automatically creates  the logstash_sqlite.db file

[2016-09-23 15:13] RamVarma89 commented on #46
I have commented out that particular line but am still getting the errors

Error: Pipeline aborted due to error :exception=>"Sequel::DatabaseConnectionError",

[2016-09-27 11:24] jackiekhuu-work commented on #38
I have the same issue cause the _id of my documents aren't the default ObjectId of Mongo:
MongoDB Input threw an exception, restarting {:exception=>#<BSON::ObjectId::Invalid: '35RT5dvsvK53b7ACa' is an invalid ObjectId.>, :level=>:warn}

[2016-10-06 11:24] CibilanJames commented on #18
Waiting for this feature, An other alternate method to get updated documents from mongo

[2016-10-18 21:51] melgart opened #49 "Question: is there any way to change the frequency of the pull from mongodb?"
hi there:

i have one separate job updating a single document in mongodb multiple times a minute, but i'd like to have the logstash mongodb input only pull documents from mongodb, say, once every 2 minutes or so. this would essentially 'consolidate' all of those updates to the same document into one. i looked through the code briefly for something that might support that, but didn't find such an o

[2016-11-03 06:52] RabindraUBA commented on #40
{:timestamp=>"2016-11-03T12:33:39.991000+0545", :message=>"mongodb plugin doesn'
t have a version. This plugin isn't well\n supported by the community and likely
 has no maintainer.", :level=>:warn}
D, [2016-11-03T12:33:43.078000 #5840] DEBUG -- : MONGODB | Adding 127.0.0.1:2701
7 to the cluster. | runtime: 0.0000ms
D, [2016-11-03T12:33:43.154000 #5840] DEBUG -- : MONGODB | COMMAND | namespace=a
d

[2016-11-08 11:28] rabindra-mrj opened #50 "Input Config - exit loop after end of collection"
Currently this plugin sleeps and continues to look for new data once collection is finished. This behavior should be configurable.

Please add flag in input config to decide the behavior.

We can also provide pull request if needed.

[2016-11-09 14:33] melgart commented on #43
same issue for me and it has the effect of elasticsearch sometimes displaying the true order of events properly.

[2016-11-09 16:00] stevie- opened #51 "Logstash 5.0 support"
Hello,

I'm trying to install this plugin on a logstash 5.0.0 installation, but `Gemfile.lock
` limits `logstash-core (>= 1.4.0, < 2.0.0)`.

[code]

[2016-11-17 14:40] awalex commented on #46
Same problem here. Any clue ?

[2016-11-17 17:28] awalex commented on #46
I found a solution for my problem.

In the example config file, the placeholder_db_dir is set as  '/opt/logstash-mongodb/'.

I changed for '/opt/logstash' and it worked. It was just a permission issue.

[2016-11-22 10:49] mohantnr opened #52 "How to bypass the SSL certificate like ssl_cert_reqs=ssl.CERT_NONE"
uri => 'mongodb://uu:oxx@10.14.5.129:7397,10.14.5.130:7397,10.14.5.131:7397/shinken_dev2?ssl=true

Error:

D, [2016-11-22T02:16:44.288000 #28422] DEBUG -- : MONGODB | SSL handshake failed. MongoDB may not be configured with SSL support.

[2016-11-22 10:49] mohantnr commented on #52
or how to mention SSL ceritificate path in input?

[2016-11-24 13:24] AkashHaldankar commented on #39
@findemor @phutchins Facing the same issue, the first document of Mongodb is not loaded into elasticsearch.

[2016-11-30 09:48] AkashHaldankar commented on #30
Even I am facing the same issue

[2016-12-28 10:26] kkbaranski commented on #51
+1

[2017-01-22 05:30] wompy commented on #51
I've submitted  PR #53 with an update to support the latest logstash. Needed this for my own env updates. built and working for a couple weeks now.

[2017-02-02 22:15] tentrr-de opened #54 "Feture request: Add support for mapping embedded mongoDB docs to Elastic 'Object' datatype"
ref: https://www.elastic.co/guide/en/elasticsearch/reference/current/object.html
It would be cool if the flatten and dig parse methods can format the event names using the bracket format v.s. underscores. logstash uses this format to translate to elastic's Object datatype. If done correctly, embedded mongodb docs can be mapped to elastic objects.

E.g.
change: new_hash[k1.to_s+"_"+k2.to_s] = v2
to

[2017-02-09 17:30] joniba opened #55 "Error on logstash 5.1.2"
I'm trying to run the plugin on logstash 5.1.2, and getting the error:
**Direct event field references (i.e. event['field'] = 'value') have been disabled in favor of using event get and set methods (e.g. event.set('field', 'value')). Please consult the Logstash 5.0 breaking changes documentation for more details.**

D, [2017-02-09T19:20:09.766000 #7068] DEBUG -- : MONGODB | Adding localhost:27017

[2017-02-12 05:23] consulthys commented on #55
You're using version 0.1.x of `logstash-input-mongodb`, which is an old version. You should use the latest 0.4.0 version which is compatible with Logstash 5 thanks to PR #53.

You can try to update your plugin with:

    bin/logstash-plugin update logstash-input-mongodb

When done, run the following command and make sure that `logstash-input-mongodb` 0.4.0 is installed.

    bin/logstash-plugin li

[2017-02-12 10:50] joniba commented on #55
[Thanks!](http://stackoverflow.com/questions/42178228/logstash-input-mongodb-errors-on-logstash-5-1-2/42184467#42184467)

[2017-02-12 10:50] #55 closed

[2017-02-12 12:52] joniba opened #56 "Any way to add the collection name to the output?"
Is there any way to add the collection name to the output?
Also a side-question: Is there a reason why mongodb Object IDs are ignored in the "flatten" parse_method?

[2017-02-16 14:09] joniba opened #57 "bug: flatten parse_method ignores Object IDs"
I think it's self explanatory. The "simple" parse_method converts them to strings, which is what the flatten method should do as well.

[2017-02-17 07:41] yp870520 commented on #32
i aslo have this problem. Do you have resovled this problem??please tell me how

[2017-02-17 12:57] phutchins commented on #32
@ShekharSahu can you provide some more information like what version of ruby you're using, if installing other plugins works, etc...?

I assume you're replacing "<path to logstash-input-mongodb-0.3.3.gem>" with the actual path? Also, you can simply replace that with logstash-input-mongodb to get the latest or you could add --version 0.3.3 to get that particular version.

[2017-02-18 11:31] sallyruthstruik commented on #35
Got same error

[2017-02-20 08:55] Apoorva333 commented on #52
Any updates here ?

[2017-02-25 17:30] inetufo commented on #10
@phutchins This issue occurs again, check the code, found out commit 6998388caf20c53748dcdfc55e5798b8d90bc56e changed $gt to $gte, Please review this, and release a new gem as soon as possible.

[2017-02-25 17:49] phutchins commented on #10
@inetufo nice catch, that shouldn't have snuck back in. Fixed again, pushed and published 0.4.1 with the fix.

[2017-02-25 19:28] inetufo commented on #10
@phutchins But i found a new issue that the last doc cannot be read.For example i have a collection with 10 documents but can only get 9  documents .Is there some other commits cause this???

[2017-02-25 19:35] inetufo commented on #10
my mongodb version is 3.2.12

[2017-03-27 16:47] sulthonzh opened #62 "array not stored to elasticsearch"
![nested fields](https://cloud.githubusercontent.com/assets/4921059/24367589/5f38337e-1347-11e7-9bfe-042bd6c5a1ba.png)

Hi guys, i have a problem, for stored array from mongodb to elasticsearch (picture above), fields with array type not store to elasticsearch why? have set a config?

[2017-04-24 00:59] yuganghu commented on #28
What if we are using "admin" db for authentication? How can I specify databases (admin for auth, and  needs to read collectionABC from myExampleDb) in URI?

[2017-05-05 22:15] dayuv commented on #62
Any update on this? It seems that arrays are not supported at all.
Flattening seems to be working only for objects (arrays are ignored)

[2017-05-11 04:43] mohantnr opened #65 "How to enable SSL pull request for Mongo"
How to pass SSL mongo connector URI and truststore

[2017-06-02 07:48] f4ct0r commented on #38
I have the same problem in version 0.4.1, is there someone knows how to solve this?

[2017-06-02 08:04] f4ct0r opened #66 "ObjectId::Invalid"
Hi guys,I have a Invalid Objectid problem in version 0.4.1.
The log looks like:
`[2017-06-02T23:34:24,310][WARN ][logstash.inputs.mongodb  ] MongoDB Input threw an exception, restarting {:exception=>#<BSON::ObjectId::Invalid: '0000abf12901b36a15fc8354e3328ddc' is an invalid ObjectId.>}`

And my data in Mongodb looks like:
[code]

Logstash config like this:
[code]

I want to know is there anyone el

[2017-06-02 08:09] f4ct0r commented on #46
As @alexsnti said.
First, you should guarantee the directory '/opt/logstash-mongodb/' exists, then you should make sure the user 'logstash' has permission to write in the directory

[2017-06-02 19:45] nebalceroc commented on #38
I found that the last _id that is inserted on sqlite is 59315289200e830001656287, after that the plugin crash with the Infinity thing.

[2017-06-02 20:57] nebalceroc commented on #38
I found the problem, on method init_placeholder_table the SQLite place column is set as Integer, change it to String and it should work.

`Int :place
`

[2017-06-09 01:55] f4ct0r commented on #66
I'm already found why. The "_id" is not a ObjectId type.

ObjectId("593a70528b3111881c0f7bf6")

so, the "_id" cannot transfer to ObjectId

[2017-06-09 01:55] #66 closed, assigned to nobody

[2017-07-06 10:12] manojsb opened #69 "Input from Mongodb to Elasticsearch"
I am trying to get mongodb data into Elasticssearch using logstash, with logstash-input-mongodb plugin. I tried to update the plugin to support version 5 of ES.

In terminal it shows version 0.4.1 but in error logs it throws error for version 0.1.X.

Also it's not connecting with mongodb to get data in to ES.

Can someone help with this ?

Error log

[code]

Thanks you so much.

[2017-07-11 09:02] TaurusD opened #70 "Field [_id] is a metadata field and cannot be added inside a document"
I'm using Elasticsearch 5.4, Logstash 5.4.2, MongoDB 3.4.5.
When I import from MongoDB to Elasticsearch through Logstash, I found the following error:

`[2017-07-11T16:57:06,180][WARN ][logstash.outputs.elasticsearch] Could not index event to Elasticsearch. {:status=>400, :action=>["index", {:_id=>nil, :_index=>"mongodb-2017.07.11", :_type=>"logs", :_routing=>nil}, 2017-07-11T08:57:03.744Z %{messa

[2017-07-11 09:05] TaurusD commented on #70
My logstash config:

`input {
	mongodb {
		uri => 'mongodb://localhost:27017/heat'
		placeholder_db_dir => 'D:/MongoDB/test/Logstash_test/logstash-mongodb/'
		placeholder_db_name => 'logstash_sqlite_heat.db'
		collection => 'Export_4G_Cell_20170710105046944'
		batch_size => 5000
	}
}
output {
	elasticsearch {
        hosts => [ "localhost:9200" ]
		index => "mongodb-%{+YYYY.MM.dd}"
    }
}`

[2017-07-11 09:55] TaurusD commented on #70
Well, I'm back for this short moment cause I solved the above problem by just changing the column name from [_id] to other names with mutate filter.
And I found another problem after I imported data. Please let me close this issue and open another one for a different topic.
Thanks.

[2017-07-11 09:55] #70 closed, assigned to nobody

[2017-07-11 09:57] TaurusD commented on #62
Any update on this?
I have many arrays with two float elements in my MongoDB. When they came to Kibana, all my arrays became [0, 0].

[2017-07-11 10:13] manojsb commented on #70
@TaurusD  Can you explain please how did you make it work ? and how did you setup this ?

[2017-07-14 01:51] TaurusD commented on #70
@manojsb Hi, I just used `mutate` filter like this:

`filter {
	mutate{
		rename => ["_id", "Obj_id"]
	}
}`

This may import the data from `_id` in Mongo to `Obj_id` field in Elasticsearch, so there won't be any conflict with the meta field [_id] of Elasticsearch. `Obj_id` is a field you can define by yourself.
In fact, I noticed that this mongo-input plugin do copy the `_id` column to a new field

[2017-07-14 04:04] manojsb commented on #70
@TaurusD  thank you so much for explanation.  Just one more question are using it in production?

[2017-07-14 04:05] #69 closed, assigned to nobody

[2017-07-14 08:25] TaurusD commented on #70
@manojsb no, I just use it for some testing. no production

[2017-07-14 08:52] manojsb commented on #70
@TaurusD thanks for feedback

[2017-08-01 03:47] TaurusD opened #71 "Missing data problem and data update question"
Hi, I’m using logstash-input-mongodb to import my data from mongodb to ELK.
But when it was done, I found that there is one document missing (I have 17781 docs in mongodb but only got 17780 docs in ELK).

I used the “normal” way to install the plugin through command `bin\logstash-plugin install logstash-input-mongo`.
So can anyone help me on this problem?

Also, I found that when there is a change

[2017-08-01 17:51] alejandrobarrios07 commented on #71
+1 but I have 399712 docs in mongodb but only got 399700 docs in ELK

[2017-08-01 19:23] alejandrobarrios07 commented on #49
+1

[2017-08-03 07:39] TaurusD commented on #71
now I had another try, which only 24 docs in mongo and 23 docs in ELK.
can anyone help us? @phutchins

I sorted by _id and found it was the first doc (smallest _id) didn't import into ELK

[2017-08-08 09:10] hmzdrzql opened #72 "Error reading plugin file /path/to/logstash-input-mongodb.gem, caused by Gem::Package::FormatError"
bin/logstash-plugin install --no-verify   /home/logstash-input-mongodb/logstash-input-mongodb.gem
Gem::Package::FormatError: package metadata is missing in /home/logstash-input-mongodb/logstash-input-mongodb.gem
                         verify_files at /home/logstash/vendor/jruby/lib/ruby/stdlib/rubygems/package.rb:599
                      block in verify at /home/logstash/vendor/jruby/lib/ruby/s

[2017-08-13 06:01] arunvijayam commented on #29
how to add a query in logstash on mongodb database

[2017-08-13 06:02] arunvijayam opened #73 "how to add a query in logstash-input-mongodb?"
how to add a query in logstash-input-mongodb?

[2017-08-14 15:20] alejandrobarrios07 opened #74 "CPU usage performance problem"
When I use the plugin the CPU reaches 100 percent. The MongoDB database has approximately 500,000 documents in the collection. The configuration I have is the following:

[code]
What could be the problem?

[2017-08-15 02:17] TaurusD commented on #62
hey guys, I come again for a similar shot. I tried to import some Array type data from mongo to elasticsearch. the arrays look like `[{a:"bla",b:blabla"},{a:"bla",b:blabla"},{a:"bla",b:blabla"}]`, but they are not stored in any field in elasticsearch.

[2017-09-10 13:17] arunvijayam opened #75 "Aggregate not working with logstash 5.4.2."
Hi All,

Aggregate filter not working with logstash 5.4.2.  Below is my code.  Anybody give advise to me.

`input {
    jdbc {
        jdbc_connection_string => "jdbc:oracle:thin:@drssqlentrac_sc.aaa-acg.net:1521/orasliud"
        jdbc_user => "admin"
        jdbc_password => "admin"
        jdbc_driver_library => "C:\Official\ojdbc6-11.2.0.3.jar"
        jdbc_driver_class => "Java::oracle.jdbc.dr

[2017-09-10 13:18] arunvijayam opened #76 "Aggregate filter not working in Logstash 5.4.2."
`input {
    jdbc {
        jdbc_connection_string => "jdbc:oracle:thin:@drssqlentrac_sc.aaa-acg.net:1521/orasliud"
        jdbc_user => "admin"
        jdbc_password => "admin"
        jdbc_driver_library => "C:\Official\ojdbc6-11.2.0.3.jar"
        jdbc_driver_class => "Java::oracle.jdbc.driver.OracleDriver"
        statement => "SELECT    CI.FIRST_NAME||'_'||CI.LAST_NAME||'_'||CI.GENDER||'_'||T

[2017-09-20 21:18] thejeff77 commented on #20
I have this issue no matter what parse method I use. Sub fields still have the sort of escaped json-like syntax with the => instead of the ':' . I am not sure what kind of syntax this is, but it isn't valid json. Can you re-open this?

[2017-09-20 21:29] thejeff77 commented on #20
Yes the json parse filter fails to parse this syntax.

[2017-09-20 22:27] thejeff77 commented on #40
I was able to do it by using document_type => "%{[_class]}"

_class will give you the full namespace, and is in the mongo output all of the time from what I could tell.

If you need a subset of the full namespace you can use the grok plugin or the mutate - gsub plugin to get a substring.

It would be nice if it was provided though. The 'generateId' option did not work for me.

[2017-09-21 15:42] thejeff77 opened #77 "Logstash 5: Make logstash-input-mongodb an official community supported plugin."
https://www.elastic.co/guide/en/logstash/5.0/input-plugins.html

I also can't find much about if this plugin officially is compatible with logstash 5. Is it? If so I could open a pull request to update the readme to explicitly name compatibility.

[2017-09-21 16:51] thejeff77 opened #78 "Can't get plugin version >0.3.3 from plugin install command"
From the gemspec file, it looks like the version is up to 0.4.1, however installing with plugin install gives 0.3.3.

Thanks for any update!

[2017-09-21 17:46] ansballard commented on #70
Just ran into this as well. `parse_method => "dig"` correctly ignores the _id field, since it has an explicit check at [Line 317](https://github.com/phutchins/logstash-input-mongodb/blob/master/lib/logstash/inputs/mongodb.rb#L317). A fix would be pretty straightforward, just need to add the same check to the `flatten` and `simple` parse_methods. For now I'm going to use `dig`, since I'm mostly res

[2017-09-21 21:37] thejeff77 commented on #78
Nevermind, it seems that this is the max version we can use on logstash 2.2. I added a pull request to update the documentation.

[2017-09-21 22:47] thejeff77 opened #80 "Nested Fields are output as "Logstash Config Format" Blob"
I'm running into the same issue someone else ran into a while ago. The issue was closed because he didn't respond so I'll just open another one.

I have many fields that contain other fields and are nested to many levels. For example a field may contain the following:

"[{\"Field_1\"=>\"Field_1_Value\", \"Field_2\"=>\"Field_2_Value\", \"Field_3\"=>\"Field_3_Value\", \"Field_4\"=>\"Field_4_Value\",

[2017-09-21 22:49] thejeff77 opened #81 "Database isn't created in current version"
This is more of a question than an issue, although it could potentially be with the documentation.

Is the database file specified in the config still used? In the current version (0.4.1) I don't see it being created.

[2017-09-22 14:25] ansballard opened #82 "Should _id be ignored in the `flatten` and `simple` parse_methods, instead of only in `dig`?"
Currently, the `dig` parse method is the only one that explicitly ignores `_id`, per [Line 317](https://github.com/phutchins/logstash-input-mongodb/blob/master/lib/logstash/inputs/mongodb.rb#L317). Should that check be added to the other parse methods as well? It currently breaks ES if a field `_id` is added, so if it can be removed from all parse methods that would be helpful. Happy to make the p

[2017-10-23 22:55] ivancruzbht commented on #62
Hi, I have the same problem. The other issue is that I want to handle the array by myself but it seems the plugin does not store the array in the next logstash pipeline (the filter stage after mongo input). A work-around would be highly appreciated

[2017-10-24 19:57] ivancruzbht commented on #62
I worked my way through this issue. I had to use a custom ruby filter to extract the array from the log_entry field that this plugin stores in elasticsearch, extract the array from it, and save each array item as a new field. In my case, the array is a root-level field called "messages", here is my code in case someone finds this issue again:

[code]

[2017-10-27 18:32] pataquets opened #84 "Support req: Is it possible to delete pulled documents when done?"
I've found no aplicable config setting.
After a document has been succesfully read and forwarded down the pipeline, deleting the row in the collection.
TIA.

[2017-12-13 08:47] lorecoro opened #85 "Handle boolean fields"
At the moment boolean fields in mongo are discarded and don't reach the filter phase.

[2017-12-13 08:51] lorecoro commented on #85
Solution:
[code]

[2017-12-14 06:11] aki83reo commented on #62
Hi  , can  someone  provide  a demo  of config  file in logstash  to  send data  from  mongodb to  logstash  to store  in  ES  ?
i downloaded  the  logstash-mongodb connector  .

[2017-12-14 07:14] aki83reo commented on #49
Hi  @melgart  , any idea  about  building the config file  for logstash to take data  from  mongodb , I am  getting confused on giving paths  .

[2017-12-15 14:53] aki83reo opened #86 "Cannot connect using certificate or .pem file in SSL"
###################################GENERAL  APPROACH  I TRIED TO CONNECT AT FIRST #########
input {
			  mongodb {
				 uri => 'mongodb://localhost:27017/mydb'
				 placeholder_db_dir => '/opt/logstash-mongodb'
				 placeholder_db_name => 'logstash_sqlite.db'
				collection => 'transactions'
				parse_method => "dig"
				unpack_mongo_id => true
				batch_size => 5000
			  }

	  }
output {
  elasti

[2017-12-22 22:32] sarra-bouhenni opened #87 "Not enough information about the plugin exceptions"
I am using `logstash-input-mongodb` plugin to replicate a mongodb database.
Here is my config file  (tested on  different versions of Logstash `5.5.3/5.6.3/6.0.0`):
[code]
After starting Logstash, I get the following exeption on every document treated by the plugin:
[code]
I don't undestand its meaning, so I'm not sure what's wrong with my configuration or deployment.
here is an example of the doc

[2017-12-30 23:55] ghost commented on #62
@phutchins  Do you think this issue would be resolved by https://github.com/phutchins/logstash-input-mongodb/pull/64 ?

[2018-01-04 14:20] ghost opened #88 "More than one collection as input"
Hi there,  I'm trying to get data from two collections "logs" and "servers_output" from a mongodb database and insert it into an ES.

I works for one collection but when I try to use two collection it doesn't work.

The documentation says that is an string, "A regex that will be used to find desired collecitons."

So this is my cfg :

[code]

But i get this error:

[code]

Thanks in advance.

[2018-04-03 03:18] 191801737 commented on #88
mongodb {
    uri => 'mongodb://xxxx:yyyyyy@1.2.3.4/pritunl?ssl=false'
    placeholder_db_dir => '/opt/logstash-mongodb/'
    placeholder_db_name => 'servers_output.db'
    collection => 'logs'
    batch_size => 5000
 }
mongodb {
    uri => 'mongodb://xxxx:yyyyyy@1.2.3.4/pritunl?ssl=false'
    placeholder_db_dir => '/opt/logstash-mongodb/'
    placeholder_db_name => 'servers_output.db'
    collect

[2018-04-14 09:41] oiahoon commented on #8
so? is there any work around for `system.profile`, or maybe we should build a `exec`

[2018-04-18 15:20] RihabTlili opened #89 "Infinite loop when loading data from mongodb to logstash"
Hello,
I try to load data from mongodb to logstash but I have Infinite loop.
I use logstash 1.5.4 and mongo db 3.5.1.

My logstash configuration :

input {
mongodb {
uri => "mongodb://127.0.0.1:27017/logtest"
collection => "products"
placeholder_db_dir => 'c:/elk2/'
placeholder_db_name => 'logstash_sqlite.db'
batch_size => 1
}
}

output {
stdout { codec => rubydebug }
file {
path => "C:\elk\out.lo

[2018-04-20 12:14] RihabTlili commented on #9
Hello,
I have the same problem, I try to load data from mongodb to logstash but I have Infinite loop.
I use logstash 1.5.4 and mongo db 3.5.1.

My logstash configuration :

input {
mongodb {
uri => "mongodb://127.0.0.1:27017/logtest"
collection => "products"
placeholder_db_dir => 'c:/elk2/'
placeholder_db_name => 'logstash_sqlite.db'
batch_size => 1
}
}

output {
stdout { codec => rubydebug }
file

[2018-04-26 08:06] zpol commented on #88
It worked! thanks, I'm also using:

`(collection1|collection2) `

[2018-04-30 16:34] zpol opened #90 "What about more doc/info about dig_fields and parsing_method ?"
SOLVED

[2018-06-14 01:05] zhouzhou1590 commented on #38
I fix the error by setting the 'since_table' and the 'since_table' in my logstash.conf.

[2018-07-06 18:19] pataquets commented on #84
@phutchins : ping?

[2018-08-06 19:51] abilio-cs opened #91 "UPDATE/DELETE Docs"
Hello!

I am using logstash in order to replace mongo-connector, so I need to update and delete docs that were changed in MongoDB.

I set **upsert** and I also tried to set the **action**, however it seems that the input is not detected, here is my conf:
[code]
Logstash 6.3.2
Elastic 6.3.1

Any thoughts?

[2018-09-11 11:07] schivei opened #92 "Multiple pipelines conflict."
When I try to input an unique collection from mongo to elasticsearch, it runs correctly, but if I try to reach many collections (in different pipelines) to put each in many indices, all indices are populatated with same documents.

I'm using logstash 6.3.0 and each pipeline is configured with different SQLite db file.

While pipeline worker is running, all SQLite db file has no data populated.

Lo

[2018-09-11 12:29] schivei commented on #92
SQLite db files
[code]

First two pipelines example
[code]

[code]

I have 7 pipelines like this two.

All resultant indices have same docs.

[code]

[2018-11-30 02:33] ghost commented on #42
me 2

[2018-12-11 08:22] potham commented on #62
@phutchins  I am also facing the same challenge when i am trying to port array type of date from mongodb to elastic. Anybody knows the solution for this.

[2018-12-12 02:56] zjhiphop commented on #91
Same requirement

[2019-01-08 15:33] monojitbarua opened #93 "how to move the last modified tuple/rows from mongodb to elasticsearch"
new inserted rows are coming as mentioned in your rb file( :_id => {:$gt => last_id_object}). But is there any way to get the rows/tuples from the mongodb collection which are updated after insertion.

[2019-01-09 02:45] StuCurry opened #94 "The first data is lost"
**I have two data in my mongodb**

    _id ObjectId                                   time String    ip String
1   5c2492cb768d4d1d5c440e59       "16:52"        No field
2   5c2492d9768d4d1d5c440e5a       No field       "100.99.9.1"

**Only the second data can be read through the plugin**

[2019-01-09T10:38:01,459][INFO ][logstash.inputs.mongodb  ] Registering MongoDB input
{
       "logdate" => "

[2019-01-09 11:30] topgun743 commented on #71
What's been done in this issue's regard?
Its been a long time since this issue has been reported and still I am also getting the same problem i.e First record goes missing in ELK.

[2019-05-16 03:01] codjust commented on #62
Anybody knows the solution for this issue?

[2019-06-19 06:10] hyenaproto opened #95 "Broken pipe - <STDERR>"
Continuous stream of following error message -

[WARN ][logstash.inputs.mongodb  ] MongoDB Input threw an exception, restarting {:exception=>#<Errno::EPIPE: Broken pipe - <STDERR>>}

Plugin had stopped registering Mongo DB inserts into ES.

Any pointers for this issue?

[2019-07-11 04:22] yueru-mylove opened #96 "Failed to handshake with 192.168.0.1:27017"
while useing the plugin to import data from mongodb to elasticseaerch. with the following mongodb configuration:
[code]
I always got an error like this:

and even if I user the config like this
[code]

while my mongo version is abover 4.0

[2019-09-26 02:48] simonlkh opened #97 "It should be configurable whether string fields containing digits should change to numbers"
I got some data in MongoDB storing as string with digits only as code, e.g. "01" as a code. When using the plugin and transfer data to ES, it changed to integer 1, which is completely different to my data.

It should be configurable which fields would apply type converting action because it is not the same meaning with 1 and "01" in many cases.

[2019-11-16 04:06] kychanbp commented on #62
Problem still existed. But the data is persisted in "log_entry" field.

[2019-11-18 14:58] Fisca97 opened #98 "Infinite loop passing data from mongodb to elasticsearch with logstash"
I would like to pass data from mongodb to elasticsearch using logstash, but when I run it I get an infinite loop on the last element of the collection without adding it on elasticsearch:
`Thread.exclusive is deprecated, use Thread::Mutex
Sending Logstash logs to D:/Elastic/logstash-7.3.2/logs which is now configured via log4j2.properties
[2019-11-18T11:35:21,328][WARN ][logstash.config.source.mult

[2019-12-15 10:18] maroinemlis commented on #91
any solution for this issue ?

[2020-01-22 10:22] daniel-frak opened #99 "Incorrectly parses ISODate"
Given an example value in MongoDB:
[code]

The retrieved field value is:
[code]

I'm not sure if something is wrong with my config but I would expect an output like this:
[code]

Due to the weird date format retrieved the ElasticSearch output fails as it cannot parse a date like that.

Logstash.conf:
[code]

## Additional info

I'm using Spring Boot 2.2.2 with Spring Data MongoDB to persist MyObje

[2020-01-23 16:22] alifiharafi commented on #98
Hi, its looks like I'm having the same problem as you. Have you found the solution? I'm still looking for the solution.

[2020-01-28 18:42] rsimonton commented on #93
From the [README](https://github.com/phutchins/logstash-input-mongodb):

...which, for me, makes it useless.

[2020-01-28 18:44] rsimonton commented on #91
From the README:

[2020-02-24 23:50] Alansdfs commented on #46
On Windows I change the "placeholder_db_dir" route to "C://path" :D

[2020-05-25 01:25] mostaqimi commented on #62
I already have this problem with object and array lists while pushing data from mongodb to elasticsearch with logstash. this problem has not been solved yet with rubby filter. someone help me

[2020-06-03 19:56] TheVastyDeep commented on #94
That is correct, the [code](https://github.com/phutchins/logstash-input-mongodb/blob/097cc9be8bb57754ec4006e174f0cb5cf3ff6b65/lib/logstash/inputs/mongodb.rb#L96) sorts the since column in ascending order and uses the first value as its placeholder. Then when it does a fetch it fetches everything greater than the placeholder, so the first value is not fetched.

See also [this](https://github.com/ph

[2020-06-07 22:51] Jose92 opened #101 "This project is dead?"
Hello this project is dead?

[2020-07-17 11:09] sharmagaurav602 commented on #8
Has anyone found a workaround for this ?

[2020-07-17 14:57] matiasperrone commented on #8
Yes I used both mongosql and a JDBC driver from DbSchema (check: https://dbschema.com/jdbc-driver/MongoDb.html).
Notice that mongosql generates "subtables" for the array fields.

I prefered the JDBC driver due to the fact that almost any shell query or function would work, like: `db.MyCollection.find()`

I hope it helps.

[2020-07-17 15:01] matiasperrone commented on #101
It seems that way...

My workaround was to use mongosql or a JDBC driver from DbSchema (check: https://dbschema.com/jdbc-driver/MongoDb.html).
Notice that mongosql generates "subtables" for the array fields and you can consult using SQL 92.

I prefered the JDBC driver due to the fact that almost any shell query or function would work, like: db.MyCollection.find()

I hope it helps.

[2020-07-17 17:00] sharmagaurav602 commented on #8
Thanks @matiasperrone , will try that .

[2020-08-07 09:51] mykioer commented on #90
How to use it?

[2020-08-26 06:55] enpopo2101 commented on #98
Me too, i having the same problem

[2020-08-26 13:14] matiasperrone commented on #98
Use this! https://dbschema.com/jdbc-driver/MongoDb.html

Source code: https://github.com/wise-coders/mongodb-jdbc-driver

[2020-09-06 09:33] vivs0 commented on #46
On linux you need to first create the directories & change its ownership to logstash.
chown logstash:logstash /opt/<dir_name>
and restart the logstash

[2020-09-19 05:08] hardiksondagar commented on #101
@matiasperrone I was looking for ways to sync data between mongodb to elasticsearch. The current plugin do most of basics stuff, but it does not support synching update/deletion of documentation. While other options seems deprecated for ES7.x, I also found logstash with JDBC driver looks most promising.

[2020-09-21 12:45] hardiksondagar commented on #101
After spending hours figuring out of data pipeline, I end up writing custom python script to ingest data from mongodb to elasticsearch https://github.com/hardiksondagar/mongodb-to-elasticsearch

[2020-09-21 12:47] hardiksondagar commented on #93
@monojitbarua I was stuck in the similar problem as none of the available plugins/tools fully support elasticsearch >7.0 and lacks basic features. I end up writing simple python script to ingest data from mongo to elasticsearch. Feel free to use it https://github.com/hardiksondagar/mongodb-to-elasticsearch

[2020-09-21 13:36] matiasperrone commented on #101
@hardiksondagar seems that the new 7.9 has a beats plugin, so seems what are you looking for.
Check this out https://www.elastic.co/es/blog/whats-new-elastic-observability-7-9-0-unified-agent-kpi-overview-dashboard

[2020-10-02 13:52] MackJac commented on #98
mee too, how to resolve?

[2020-10-25 10:48] sergio11 commented on #101
Using JDBC driver from DbSchema is the better option, I have shared in [this post](https://stackoverflow.com/questions/27231013/how-to-have-an-input-of-type-mongodb-for-logstash/64522783#64522783) my configuration in case it can help someone with this same problem, Regards.

[2021-01-18 05:51] yvshett commented on #38
Changing it to String did not work for me

[2021-01-18 05:55] yvshett commented on #38
@nebalceroc : Can i show my problem to you? Are you saying clone the repo what you have as latest, and run logtsahs input plugin and sync. issue will be resolved? Int to String is the change done here https://github.com/nebalceroc/logstash-input-mongodb

[2021-01-18 09:30] nebalceroc commented on #38
@yvshett sorry, I no longer work on this.

[2021-06-17 08:35] arnabrc opened #102 "logstash-input-mongodb installation error"
I'm getting the below error while installing logstash-input-mongodb plugin
C:\logstash-7.13.2\bin>logstash-plugin install logstash-input-mongodb
Using JAVA_HOME defined java: C:\Program Files\Java\jdk-16.0.1
WARNING, using JAVA_HOME while Logstash distribution comes with a bundled JDK
Validating logstash-input-mongodb
Installing logstash-input-mongodb
Error Bundler::InstallError, retrying 1/10
Err

[2021-08-05 02:21] TranQuangHa307 commented on #102
I facing the same problem. Anyone can help?

[2021-08-07 16:53] TranQuangHa307 commented on #102
You should install with admin, will solve the problem

[2021-08-13 03:40] Bugsbee0716 opened #103 "Logstash-mongodb not creating index"
Hello
I'm able able to start logstash to fetch data from mongodb
However it's not creating indexes

As I ran in debug I'm seeing below logs , any idea pls?

logstash-pipeline-flush] PeriodicFlush - Pushing flush onto pipeline.
[DEBUG] 2021-08-12 12:10:58.159 [pool-6-thread-1] jvm - collector name {:name=>"ParNew"}
[DEBUG] 2021-08-12 12:10:58.159 [pool-6-thread-1] jvm - collector name {:name=>"Conc

[2021-10-04 19:50] diaztech commented on #62
Worked perfectly for my arrays! Change 'messages' to the array in question and it splits them.

[2021-11-15 09:00] aimailei opened #104 "placeholder_db_name's content is garbled, ObjectId::Invalid: 'Infinity' is an invalid ObjectId"
After a period of normal execution, the following error occurs:

`MongoDB Input threw an exception, restarting: exception=>#<BSON::ObjectId::Invalid: 'Infinity' is an invalid ObjectID.>`

placeholder_db_name's content like this:

`..............@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@1^A^C9=logstash_si

[2022-04-26 09:53] nicklenjack opened #105 "help me !!!!"
[code]

exception=>#<Mongo::Error::UnsupportedFeatures: Server at (10.0.2.9:27017) reports wire version (4), but this version of the Ruby driver requires at least (6).>

i want to know the reason!!! how to resolve??

[2022-07-18 09:59] brijesh-2203 commented on #62
Thank you for this , its worked

[2022-08-19 19:15] hashamrasheed opened #106 "JVM Crashes with Fatal Error"
I've added almost 60 pipelines to logstash using this plugin. It works fine for almost 10 pipelines. Anything more than that results in JVM crashing with a fatal error. Here's the dump I received after crash:
[hs_err_pid18438.log](https://github.com/phutchins/logstash-input-mongodb/files/9384784/hs_err_pid18438.log)

[2022-08-29 12:32] hashamrasheed commented on #106
Posting to help someone with this issue in future. The issue was being caused by SQLite version being used in logstash-input-mongodb plugin. I upgraded it to 3.28.0, everything's working now.

[2022-08-29 12:32] #106 closed, assigned to nobody